kind: Secret
apiVersion: v1
metadata:
  name: pg-cluster-backup
  namespace: ""
data:
  DB_HOST: ""
  DB_PORT: ""
  DB_NAME: ""
  DB_USER: ""
  DB_PASS: ""
  S3_ENDPOINT: ""
  S3_ACCESS_KEY: ""
  S3_SECRET_KEY: ""
  S3_BUCKET_NAME: ""
  S3_BUCKET_PREFIX: ""
  RETENTION_DAYS: ""

---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: pg-cluster-backup
  namespace: ""
  labels:
    jobgroup: pg-cluster-backup
spec:
  schedule: "0 1 * * *"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 3
  concurrencyPolicy: Forbid
  jobTemplate:
    metadata:
      name: pg-cluster-backup
      labels:
        jobgroup: pg-cluster-backup
    spec:
      backoffLimit: 0
      template:
        spec:
          containers:
          - name: pg-cluster-backup
            image: ghcr.io/this-is-tobi/tools/pg-backup:latest
            imagePullPolicy: Always
            envFrom:
            - secretRef:
                name: pg-cluster-backup
          restartPolicy: Never
