name: Build and push images

on:
  workflow_call:
    inputs:
      REGISTRY:
        required: true
        type: string
      NAMESPACE:
        required: true
        type: string
      BUILD_MATRIX:
        required: true
        type: string
      BUILD_AMD64:
        required: true
        type: boolean
      BUILD_ARM64:
        required: true
        type: boolean
      USE_QEMU:
        required: true
        type: boolean

permissions:
  packages: write

jobs:
  build:
    name: Build images
    runs-on: ${{ matrix.runners }}
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        runners: ${{ (inputs.BUILD_AMD64 && inputs.BUILD_ARM64 && !inputs.USE_QEMU && fromJson('["ubuntu-24.04", "ubuntu-24.04-arm"]')) || (inputs.BUILD_ARM64 && !inputs.USE_QEMU && fromJson('["ubuntu-24.04-arm"]')) || fromJson('["ubuntu-24.04"]') }}
        images: ${{ fromJSON(inputs.BUILD_MATRIX) }}
    steps:
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ${{ inputs.REGISTRY }}
        username: ${{ inputs.REGISTRY == 'ghcr.io' && github.actor || secrets.REGISTRY_USERNAME }}
        password: ${{ inputs.REGISTRY == 'ghcr.io' && secrets.GITHUB_TOKEN || secrets.REGISTRY_PASSWORD }}
        logout: true

    - name: Get image status
      id: image-status
      run: |
        IMAGE_STATUS=$(curl \
          --head \
          --silent \
          --write-out '%{http_code}' \
          --output /dev/null \
          -H "Authorization: Bearer $(echo -n '${{ secrets.GITHUB_TOKEN }}' | base64)" \
          https://${{ inputs.REGISTRY }}/v2/${{ inputs.NAMESPACE }}/${{ matrix.images.name }}/manifests/${{ matrix.images.build.tag }})

        if [ ! "$IMAGE_STATUS" == "404" ]; then
          if [ "${{ inputs.BUILD_AMD64 }}" == "true" ] && [ "${{ inputs.BUILD_ARM64 }}" == "true" ]; then
            NEEDS_BUILD=$(curl \
              --silent \
              -H "Authorization: Bearer $(echo -n '${{ secrets.GITHUB_TOKEN }}' | base64)" \
              https://${{ inputs.REGISTRY }}/v2/${{ inputs.NAMESPACE }}/${{ matrix.images.name }}/manifests/${{ matrix.images.build.tag }} \
              | jq '[.manifests[] | select(.platform.architecture == "amd64" or .platform.architecture == "arm64")] | length < 2')
          elif [ "${{ inputs.BUILD_ARM64 }}" == "true" ]; then
            NEEDS_BUILD=$(curl \
              --silent \
              -H "Authorization: Bearer $(echo -n '${{ secrets.GITHUB_TOKEN }}' | base64)" \
              https://${{ inputs.REGISTRY }}/v2/${{ inputs.NAMESPACE }}/${{ matrix.images.name }}/manifests/${{ matrix.images.build.tag }} \
              | jq '[.manifests[] | select(.platform.architecture == "arm64")] | length < 1')
          else
            NEEDS_BUILD=$(curl \
              --silent \
              -H "Authorization: Bearer $(echo -n '${{ secrets.GITHUB_TOKEN }}' | base64)" \
              https://${{ inputs.REGISTRY }}/v2/${{ inputs.NAMESPACE }}/${{ matrix.images.name }}/manifests/${{ matrix.images.build.tag }} \
              | jq '[.manifests[] | select(.platform.architecture == "amd64")] | length < 1')
          fi
        else
          NEEDS_BUILD="true"
        fi

        echo "NEEDS_BUILD=$NEEDS_BUILD" >> $GITHUB_OUTPUT

    - name: Checks-out repository
      if: ${{ steps.image-status.outputs.NEEDS_BUILD == 'true' }}
      uses: actions/checkout@v4

    - name: Set up Docker buildx
      if: ${{ steps.image-status.outputs.NEEDS_BUILD == 'true' }}
      uses: docker/setup-buildx-action@v3

    - name: Set up QEMU (for multi platform build)
      if: ${{ steps.image-status.outputs.NEEDS_BUILD == 'true' && inputs.USE_QEMU }}
      uses: docker/setup-qemu-action@v3

    - name: Build docker image
      id: build
      uses: docker/build-push-action@v6
      if: ${{ steps.image-status.outputs.NEEDS_BUILD == 'true' }}
      with:
        context: ${{ matrix.images.build.context }}
        file: ${{ matrix.images.build.dockerfile }}
        target: ${{ matrix.images.build.target }}
        platforms: ${{ (inputs.BUILD_AMD64 && inputs.BUILD_ARM64 && inputs.USE_QEMU && 'linux/amd64,linux/arm64') || (inputs.BUILD_ARM64 && !inputs.USE_QEMU && 'linux/arm64') || 'linux/amd64' }}
        outputs: type=image,name=${{ inputs.REGISTRY }}/${{ inputs.NAMESPACE }}/${{ matrix.images.name }},push-by-digest=true,name-canonical=true,push=true
        provenance: false
        build-args: |
          BASE_IMAGE=${{ matrix.images.build.base }}

    - name: Export digest
      if: ${{ steps.image-status.outputs.NEEDS_BUILD == 'true' }}
      run: |
        mkdir -p /tmp/digests/${{ matrix.images.name }}-v${{ matrix.images.build.tag }}
        digest="${{ steps.build.outputs.digest }}"
        touch "/tmp/digests/${{ matrix.images.name }}-v${{ matrix.images.build.tag }}/${digest#sha256:}"

    - name: Upload digest
      if: ${{ steps.image-status.outputs.NEEDS_BUILD == 'true' }}
      uses: actions/upload-artifact@v4
      with:
        name: digests-${{ matrix.images.name }}-v${{ matrix.images.build.tag }}-${{ (inputs.BUILD_AMD64 && inputs.BUILD_ARM64 && inputs.USE_QEMU && 'multiarch') || (contains(matrix.runners, 'ARM') && 'linux-arm64') || 'linux-amd64' }}
        path: /tmp/digests/${{ matrix.images.name }}-v${{ matrix.images.build.tag }}/*
        if-no-files-found: error
        retention-days: 1
